@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&family=Shrikhand&display=swap");
@keyframes display-card {
  0% {
    transform: translateY(10%);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: translateY(-15%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(-10%);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg) scale(3);
  }
  100% {
    transform: rotate(1800deg) scale(1);
  }
}
@keyframes colorize {
  0% {
    color: #9356DC;
  }
  45% {
    color: #FF79DA;
    opacity: 0.8;
  }
  80% {
    color: #99E2D0;
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px auto;
  max-width: 1440px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-style: none;
  padding: 0.75rem 1.2rem;
  width: 50%;
  z-index: 1;
  position: relative;
}
.btn:hover::after {
  opacity: 1;
  box-shadow: 0px 15px 20px white;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn--rounded {
  border-radius: 1.5rem;
}
.btn--rounded:hover {
  border-radius: 1.5rem;
}
.btn--rounded:hover::after {
  border-radius: 1.5rem;
}
.btn--rounded::after {
  border-radius: 1.5rem;
}
.btn--primary {
  color: white;
  background: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
  background-origin: border-box;
  border-style: none;
}
.btn--primary::after {
  background: linear-gradient(to bottom right, #ff93e1 0%, #ae80e5 100%);
  border-style: none;
}
.btn--lg {
  width: 100%;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 250px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .card {
    min-width: 300px;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card {
    min-width: 250px;
    max-width: 450px;
  }
}
.card--rounded {
  border-radius: 1rem;
}
.card .card__new {
  position: absolute;
  right: 10px;
  top: 15px;
  padding: 4px 5px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #89D3C5;
  color: #1F8C6A;
}
.card .card__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  overflow: hidden;
}
.card .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 5px 20px;
  text-align: left;
}
.card .card__content__text h3 {
  margin: 8px 0px 3px 0px;
}
.card .card__content__text p {
  margin: 3px 0px 8px 0px;
  color: #6b6b6b;
}
.card .card__content__like {
  margin-right: 10px;
  font-size: 20px;
  position: relative;
}
.card .card__content__like i {
  position: absolute;
  bottom: 0;
  left: -25px;
  right: 0;
  cursor: pointer;
}
.card .card__content__like .empty {
  opacity: 1;
  transition: opacity 1s ease;
  color: #6b6b6b;
}
.card .card__content__like .empty:hover {
  opacity: 0;
}
.card .card__content__like .full {
  opacity: 0;
  transition: opacity 1s ease;
  background: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card .card__content__like .full:hover {
  opacity: 1;
}

main .operation {
  padding: 20px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  main .operation {
    gap: 55px;
  }
}
@media screen and (min-width: 1200px) {
  main .operation h2 {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}
main .operation__list {
  margin: 10px 0px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  counter-reset: liste;
}
@media screen and (min-width: 1200px) {
  main .operation__list {
    flex-direction: row;
    justify-content: space-around;
  }
}
main .operation__list__item {
  width: 100%;
  background-color: #f5f5f5;
  color: #272727;
  font-size: 18px;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  box-shadow: #b7b7b7 0px 2px 8px 1px;
  position: relative;
  counter-increment: liste;
}
main .operation__list__item::before {
  content: counter(liste);
  font-size: 14px;
  color: white;
  background-color: #9356DC;
  border-radius: 1rem;
  padding: 5px 10px;
  position: absolute;
  left: -15px;
  top: 20px;
}
main .operation__list__item:hover {
  background-color: #f2e7fe;
}
main .operation__list__item:hover i {
  color: #9356DC;
}
main .operation__list__item i {
  margin-right: 1rem;
  font-size: 22px;
  color: #6b6b6b;
}
main .restaurant {
  background-color: #f5f5f5;
  padding: 20px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  main .restaurant {
    gap: 55px;
  }
}
@media screen and (min-width: 1200px) {
  main .restaurant h2 {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}
main .restaurant .container-restaurant {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  main .restaurant .container-restaurant {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  main .restaurant .container-restaurant {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #99E2D0;
  z-index: 999;
  animation: fade-out 1s linear 2s 1 normal forwards;
}
.loader__spinner {
  position: relative;
  color: #99E2D0;
  font-size: 50px;
  z-index: 1000;
  animation: spin 3s ease-out, colorize 3s ease;
}

.header {
  display: flex;
  background-color: white;
  flex-flow: column wrap;
  position: relative;
}
.header__logo {
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 1px 1px 2px #b7b7b7, -1px 1px 2px #b7b7b7;
}
.header__logo a#back_arrow_accueil {
  position: absolute;
  left: 20px;
  top: auto;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #e5e5e5;
  color: #272727;
  padding: 20px 0px;
}
.header__location i {
  margin-right: 16px;
}
.header__jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 30px;
}
.header__jumbotron__heading {
  padding: 0 50px;
}
.header__jumbotron__text {
  color: #6b6b6b;
  padding: 0 20px;
}
.header__jumbotron__button {
  width: 70%;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header__jumbotron__button {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .header__jumbotron__button {
    width: 40%;
  }
}

.footer {
  padding: 5px 20px 50px 20px;
  color: white;
  background-color: #272727;
}
.footer h2 {
  font-family: "Shrikhand";
}
.footer ul li {
  margin-top: 15px;
}
.footer ul li .footer__link {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer ul li .footer__link i {
  width: 35px;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu__img {
  height: 250px;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .menu__img {
    height: 700px;
    margin-top: -200px;
  }
}
.menu__img .thumbnail {
  object-fit: cover;
  width: 100%;
}
.menu__title {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #f5f5f5;
  padding: 30px 20px 5px;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
}
.menu__title h2 {
  margin: 0;
}
.menu__title__like {
  margin-right: 10px;
  font-size: 20px;
  position: relative;
}
.menu__title__like i {
  position: absolute;
  bottom: 0;
  left: -25px;
  right: 0;
  cursor: pointer;
}
.menu__title__like .empty {
  opacity: 1;
  transition: opacity 1s ease;
  color: #6b6b6b;
}
.menu__title__like .empty:hover {
  opacity: 0;
}
.menu__title__like .full {
  opacity: 0;
  transition: opacity 1s ease;
  background: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__title__like .full:hover {
  opacity: 1;
}

.menu_liste {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding: 0px 12px;
}
.menu_liste__categories {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0;
}
.menu_liste__categories_label {
  position: relative;
  margin-left: 5px;
  color: #6b6b6b;
}
.menu_liste__categories_label::after {
  position: absolute;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  top: 25px;
  left: 1px;
  content: "";
}
.menu_liste__categories .liste_plats {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .menu_liste__categories .liste_plats {
    flex-direction: row;
    justify-content: flex-start;
    gap: 35px;
  }
}

.card_plat {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 1px 1px 2px #b7b7b7, -1px 1px 2px #b7b7b7;
  transform: translateY(0%);
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .card_plat {
    width: 25%;
  }
}
.card_plat.toggle-1 {
  animation: display-card 0.5s 0.25s ease normal both;
}
.card_plat.toggle-2 {
  animation: display-card 0.5s 0.5s ease normal both;
}
.card_plat.toggle-3 {
  animation: display-card 0.5s 0.75s ease normal both;
}
.card_plat.toggle-4 {
  animation: display-card 0.5s 1s ease normal both;
}
.card_plat.toggle-5 {
  animation: display-card 0.5s 1.25s ease normal both;
}
.card_plat.toggle-6 {
  animation: display-card 0.5s 1.5s ease normal both;
}
.card_plat.toggle-7 {
  animation: display-card 0.5s 1.75s ease normal both;
}
.card_plat.toggle-8 {
  animation: display-card 0.5s 2s ease normal both;
}
.card_plat.toggle-9 {
  animation: display-card 0.5s 2.25s ease normal both;
}
.card_plat.toggle-10 {
  animation: display-card 0.5s 2.5s ease normal both;
}
.card_plat__description {
  flex: 11;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_plat__description__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0px 5px 5px;
  font-size: 16px;
  font-weight: bold;
}
.card_plat__description__infos {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.card_plat__description__infos__descr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0px 5px 5px;
  font-size: 14px;
  color: #6b6b6b;
}
.card_plat__description__infos__prix {
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}
.card_plat__volet_validation {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  max-width: 0px;
  opacity: 0;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  padding: 5px;
  transition: all 400ms ease-in-out;
}
.card_plat__volet_validation i {
  transform: rotate(90deg);
  font-size: 26px;
  color: white;
}
.card_plat:active .card_plat__volet_validation, .card_plat:hover .card_plat__volet_validation {
  visibility: visible;
  flex: 2;
  height: auto;
  width: auto;
  opacity: 1;
  max-width: 20%;
}
@media screen and (min-width: 1200px) {
  .card_plat:active .card_plat__volet_validation, .card_plat:hover .card_plat__volet_validation {
    max-width: 30%;
  }
}
.card_plat:active .card_plat__volet_validation > i, .card_plat:hover .card_plat__volet_validation > i {
  transform: rotate(360deg);
  transition: transform 800ms 200ms;
}

form#commander {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0 35px 0;
  background-color: #f5f5f5;
}

/*# sourceMappingURL=style.css.map */
