@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px auto;
  max-width: 1440px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

button {
  cursor: pointer;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-style: none;
  padding: 0.75rem 1.2rem;
  width: 50%;
  z-index: 1;
  position: relative;
}
.btn:hover::after {
  opacity: 1;
  box-shadow: 0px 15px 20px rgb(215, 215, 215);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn--rounded {
  border-radius: 1.5rem;
}
.btn--rounded:hover {
  border-radius: 1.5rem;
}
.btn--rounded:hover::after {
  border-radius: 1.5rem;
}
.btn--rounded::after {
  border-radius: 1.5rem;
}
.btn--primary {
  color: white;
  background: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
  background-origin: border-box;
  border-style: none;
}
.btn--primary::after {
  background: linear-gradient(to bottom right, #ff93e1 0%, #ae80e5 100%);
  border-style: none;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 250px;
  position: relative;
}
.card--rounded {
  border-radius: 1rem;
}
.card .card__new {
  position: absolute;
  right: 10px;
  top: 15px;
  padding: 4px 5px;
  font-size: 14px;
  border-radius: 2px;
  background-color: rgb(137, 221, 197);
  color: rgb(31, 140, 106);
}
.card .card__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  overflow: hidden;
}
.card .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 5px 20px;
  text-align: left;
}
.card .card__content__text h3 {
  margin: 8px 0px 3px 0px;
}
.card .card__content__text p {
  margin: 3px 0px 8px 0px;
  color: #6b6b6b;
}
.card .card__content__like i {
  font-size: 22px;
  font-weight: normal;
  color: #6b6b6b;
}
.card .card__content__like i:hover {
  font-weight: bold;
  background: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  color: transparent;
}

.header {
  display: flex;
  background-color: white;
  flex-flow: column wrap;
  position: relative;
}
.header__logo {
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 1px 1px 2px #b7b7b7, -1px 1px 2px #b7b7b7;
}
.header__logo a#back_arrow_accueil {
  position: absolute;
  left: 20px;
  top: auto;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #e5e5e5;
  color: #272727;
  padding: 20px 0px;
}
.header__location i {
  margin-right: 16px;
}
.header__jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 30px;
}
.header__jumbotron__heading {
  padding: 0 50px;
}
.header__jumbotron__text {
  color: #6b6b6b;
  padding: 0 20px;
}

.footer {
  padding: 5px 20px 50px 20px;
  color: white;
  background-color: rgb(40, 40, 40);
}
.footer h2 {
  font-family: "Shrikhand";
}
.footer ul li {
  margin-top: 15px;
}
.footer ul li .footer__link {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer ul li .footer__link i {
  width: 35px;
}

main .operation {
  padding: 20px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}
main .operation__list {
  margin: 10px 0px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  counter-reset: liste;
}
main .operation__list__item {
  width: 100%;
  background-color: #f5f5f5;
  color: #272727;
  font-size: 18px;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  box-shadow: #b7b7b7 0px 2px 8px 1px;
  position: relative;
  counter-increment: liste;
}
main .operation__list__item::before {
  content: counter(liste);
  font-size: 14px;
  color: white;
  background-color: #9356DC;
  border-radius: 1rem;
  padding: 5px 10px;
  position: absolute;
  left: -15px;
  top: 20px;
}
main .operation__list__item:hover {
  background-color: #f2e7fe;
}
main .operation__list__item:hover i {
  color: #9356DC;
}
main .operation__list__item i {
  margin-right: 1rem;
  font-size: 22px;
  color: #6b6b6b;
}
main .restaurant {
  background-color: #f5f5f5;
  padding: 20px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}
main .restaurant .container-restaurant {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

form {
  width: 100%;
  padding: 20px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu__img {
  height: 250px;
  z-index: -1;
}
.menu__img .thumbnail {
  object-fit: cover;
  width: 100%;
}
.menu__title {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #f5f5f5;
  padding: 30px 20px 5px;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
}
.menu__title h2 {
  margin: 0;
}
.menu__title__like {
  font-size: 22px;
  margin-right: 10px;
  color: #6b6b6b;
}

.menu_liste {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding: 0px 12px;
}
.menu_liste__categories {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0;
}
.menu_liste__categories_label {
  position: relative;
  margin-left: 5px;
  color: #6b6b6b;
}
.menu_liste__categories_label::after {
  position: absolute;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  top: 25px;
  left: 1px;
  content: "";
}

.card_plat {
  background-color: white;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 1px 1px 2px #b7b7b7, -1px 1px 2px #b7b7b7;
}
.card_plat__name {
  margin: 5px 0px 5px 5px;
  font-size: 16px;
  font-weight: bold;
}
.card_plat__infos {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.card_plat__infos__descr {
  margin: 5px 0px 5px 5px;
  font-size: 14px;
  color: #6b6b6b;
}
.card_plat__infos__prix {
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}

form#commander {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0 35px 0;
  background-color: #f5f5f5;
}

/*# sourceMappingURL=style.css.map */
