button {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-style: none;
    padding: 0.75rem 1.2rem;
    width: 50%;
    z-index: 1;
    position: relative;

    &:hover {
        &::after {
            opacity: 1;
            box-shadow: 0px 15px 20px $white;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }

    &--rounded {
        border-radius: 1.5rem;

        &:hover {
            border-radius: 1.5rem;

            &::after {
                border-radius: 1.5rem;
            }
        }

        &::after {
            border-radius: 1.5rem;
        }
    }

    &--primary {
        color: $white !important;
        background: $color-gradient;
        background-origin: border-box;
        border-style: none;

        &::after {
            background: linear-gradient(to bottom right, lighten($color-secondary, 5) 0%, lighten($color-primary, 10) 100%);
            border-style: none;
        }
    }

    &--lg {
        width: 100%;
    }
}