button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 3px solid transparent;
    padding: 0.55rem 1rem;
    width: 50%;

    &--rounded {
        border-radius: 1.5rem;
    }

    &--primary {
        color: white;
        background: linear-gradient(to bottom right, $color-secondary 0%, $color-primary 100%);
        background-origin: border-box;
    }
}