.menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__img {
        height: 250px;
        z-index: -1;

        @include desktop-responsive {
            height: 700px;
            margin-top: -200px;
        }

        .thumbnail {
            object-fit: cover;
            width: 100%;
        }
    }

    &__title {
        font-family: "Shrikhand";
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: $color-background-list-item;
        padding: 30px 20px 5px;
        border-radius: 30px 30px 0 0;
        margin-top: -40px;

        h2 {
            margin: 0;
        }

        &__like {
            margin-right: 10px;
            font-size: 20px;
            position: relative;

            & i {
                position: absolute;
                bottom: 0;
                left: -25px;
                right: 0;
                cursor: pointer;
            }

            .empty {
                opacity: 1;
                transition: opacity 1s ease;
                color: $color-text-jumbotron;

                &:hover {
                    opacity: 0;
                }
            }

            .full {
                opacity: 0;
                transition: opacity 1s ease;
                background: $color-gradient;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.menu_liste {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-background-list-item;
    padding: 0px 12px;

    &__categories {
        display: flex;
        flex-flow: column wrap;
        margin: 10px 0;

        &_label {
            position: relative;
            margin-left: 5px;
            color: $color-text-jumbotron;

            &::after {
                position: absolute;
                background-color: $color-tertiary;
                width: 40px;
                height: 3px;
                top: 25px;
                left: 1px;
                content: "";
            }
        }

        .liste_plats {
            display: flex;
            flex-direction: column;

            @include desktop-responsive {
                flex-direction: row;
                justify-content: flex-start;
                gap: 35px;
            }
        }
    }
}

.card_plat {
    display: flex;
    flex-direction: row;
    background-color: $white;
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: 1px 1px 2px $middle-dark-grey, -1px 1px 2px $middle-dark-grey;
    transform: translateY(0%);
    opacity: 0;

    @include desktop-responsive {
        width: 25%;
    }

    @include smooth-toggle;

    &__description {
        flex: 11;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &__name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 5px 0px 5px 5px;
            font-size: 16px;
            font-weight: bold;
        }

        &__infos {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;

            &__descr {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 5px 0px 5px 5px;
                font-size: 14px;
                color: $color-text-jumbotron;
            }

            &__prix {
                font-size: 14px;
                font-weight: bold;
                padding-right: 10px;
            }
        }
    }

    &__volet_validation {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        max-width: 0px;
        opacity: 0;
        background: $color-tertiary;
        border-radius: 0px 15px 15px 0px;
        padding: 5px;
        transition: all 400ms ease-in-out;


        i {
            transform: rotate(90deg);
            font-size: 26px;
            color: $white;
        }
    }

    &:active,
    &:hover {
        .card_plat__volet_validation {
            visibility: visible;
            flex: 2;
            height: auto;
            width: auto;
            opacity: 1;
            max-width: 20%;

            @include desktop-responsive {
                max-width: 30%;
            }

            >i {
                transform: rotate(360deg);
                transition: transform 800ms 200ms;
            }
        }
    }
}

form#commander {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px 0 35px 0;
    background-color: $color-background-list-item;
}