$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color-location: #e5e5e5;
$text-color-location: #272727;
$bg-color-jumbotron: #f5f5f5;
$text-color-jumbotron: #6b6b6b;

$bg-color-list-item: #f5f5f5;
$text-color-list-item: #272727;
$box-shadow-color-list-item: #b7b7b7;
$bg-color-list-item-active: #f2e7fe;

$color-overlay: linear-gradient(to bottom right, #99E2D0 0%, #9356DC 100%);
