$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color-location: #e5e5e5;
$text-color-location: #272727;
$bg-color-jumbotron: #f5f5f5;
$text-color-jumbotron: #6b6b6b;