.header {
    display: flex;
    background-color: white;
    flex-flow: column wrap;
    position: relative;

    &__logo {
        font-family: "Shrikhand";
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        box-shadow: 1px 1px 2px #b7b7b7, -1px 1px 2px #b7b7b7;

        a#back_arrow_accueil {
            position: absolute;
            left: 20px;
            top: auto;
        }
    }

    &__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        background-color: $bg-color-location;
        color: $text-color-location;
        padding: 20px 0px;

        i {
            margin-right: 16px;
        }

        .header__location__city {}
    }

    &__jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg-color-jumbotron;
        text-align: center;
        padding-bottom: 30px;

        &__heading {
            padding: 0 50px;
        }

        &__text {
            color: $text-color-jumbotron;
            padding: 0 20px;

        }
    }
}