.header {
    display: flex;
    background-color: $white;
    flex-flow: column wrap;
    position: relative;

    &__logo {
        font-family: "Shrikhand";
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        box-shadow: 1px 1px 2px $middle-dark-grey, -1px 1px 2px $middle-dark-grey;

        a#back_arrow_accueil {
            position: absolute;
            left: 20px;
            top: auto;
        }
    }

    &__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        background-color: $color-background-location;
        color: $color-text-location;
        padding: 20px 0px;

        i {
            margin-right: 16px;
        }
    }

    &__jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-background-jumbotron;
        text-align: center;
        padding-bottom: 30px;

        &__heading {
            padding: 0 50px;
        }

        &__text {
            color: $color-text-jumbotron;
            padding: 0 20px;

        }

        &__button {
            width: 70%;

            @include tablette-responsive {
                width: 50%;
            }

            @include desktop-responsive {
                width: 40%;
            }
        }
    }
}