main {
    .operation {
        padding: 20px 20px 70px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        width: 100%;

        &__list {
            margin: 10px 0px;
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            width: 100%;
            counter-reset: liste;

            &__item {
                width: 100%;
                background-color: $bg-color-list-item;
                color: $text-color-list-item;
                font-size: 18px;
                border-radius: 1rem;
                padding: 1.5rem 1rem;
                box-shadow: $box-shadow-color-list-item 0px 2px 8px 1px;
                position: relative;
                counter-increment: liste;

                &::before {
                    content: counter(liste);
                    font-size: 14px;
                    color: white;
                    background-color: $color-primary;
                    border-radius: 1rem;
                    padding: 5px 10px;
                    position: absolute;
                    left: -15px;
                    top: 20px;
                }

                &:hover {
                    background-color: $bg-color-list-item-active;

                    i {
                        color: $color-primary;
                    }
                }

                i {
                    margin-right: 1rem;
                    font-size: 22px;
                    color: $text-color-jumbotron;
                }
            }
        }
    }

    .restaurant {
        background-color: $bg-color-list-item;
        padding: 20px 20px 70px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        text-align: left;

        .container-restaurant {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 20px;
        }
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background: $color-tertiary;
    z-index: 999;
    animation: fade-out 1s linear 2s 1 normal forwards;

    &__spinner {
        position: relative;
        color: $color-tertiary;
        font-size: 50px;
        z-index: 1000;
        animation: spin 3s ease-out, colorize 3s ease;
    }
}
